.game {
    display: flex;
    flex-direction: row;
    margin: 50px;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
.selectedMove {
  border: 2px solid #444;
}

.goToMoveButton {
  width: 100%;
}